<section class="concerts">
    <div class="container">
        <h2 class="title concerts__title">Дати концертів</h2>
        <ul class="concerts__list">
            <li class="concerts__list-item">
                <div class="concerts__list-item--wrapper">
                    <p class="concerts__list-item--text">Черв. 14 Нд.</p>
                    <p class="concerts__list-item--text">!FESTrepublic</p>
                    <p class="concerts__list-item--text">Львів</p>
                </div>
                <a href="#" class="concerts__list-item--button">Квитки</a>
            </li>
            <li class="concerts__list-item">
                <div class="concerts__list-item--wrapper">
                    <p class="concerts__list-item--text">Вер. 12 Сб.</p>
                    <p class="concerts__list-item--text">Club151</p>
                    <p class="concerts__list-item--text">Львів</p>
                </div>
                <a href="#" class="concerts__list-item--button">Квитки</a>
            </li>
            <li class="concerts__list-item">
                <div class="concerts__list-item--wrapper">
                    <p class="concerts__list-item--text">Жовт. 03 Сб.</p>
                    <p class="concerts__list-item--text">KOZA</p>
                    <p title="Тернопіль" class="concerts__list-item--text">Файне місто</p>
                </div>
                <a href="#" class="concerts__list-item--button">Квитки</a>
            </li>
            <li class="concerts__list-item">
                <div class="concerts__list-item--wrapper">
                    <p class="concerts__list-item--text">Лист. 06 Пт.</p>
                    <p class="concerts__list-item--text">Rocker-pub</p>
                    <p class="concerts__list-item--text">Кременчук</p>
                </div>
                <a href="#" class="concerts__list-item--button">Квитки</a>
            </li>
        </ul>
    </div>
</section>