<div class="footer-wrapper">
    <div class="subscribe">
        <p class="subscribe__text">Дізнавайтеся перші про всі наші оновлення</p>
        <form novalidate class="subscribe__form">
            <input class="subscribe__form-email" id="mail" type="email" name="mail"
                placeholder="Введіть свою електрону пошту" required>
            <input class="subscribe__form-button" type="submit" value="Підписатися">
        </form>
    </div>

    <div class="contacts">
        <p class="contacts__header">Наші контакти</p>
        <div class="contacts__text">
            <p class="text contacts__text-email">Email: bandname@somemail.com</p>
            <p class="text contacts__text-phone">Телефон: +380xx0000000</p>
        </div>
    </div>
</div>