<header class="header" id="main">

    <div class="nav">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__list-item"> <a class="navigation__list-link" href="#main">Головна</a></li>
                <li class="navigation__list-item"> <a class="navigation__list-link" href="#concerts">Афіша</a></li>
                <li class="navigation__list-item"> <a class="navigation__list-link" href="#music">Музика</a></li>
                <li class="navigation__list-item"> <a class="navigation__list-link" href="#news">Новини</a></li>
                <li class="navigation__list-item"> <a class="navigation__list-link" href="#contacts">Зв'язок</a>
                </li>
            </ul>
        </nav>

        <div class="social-buttons">
            <a href="https://amaryllisdiaphanum.bandcamp.com/album/germination-ep" target="_blank" class="fab fa-bandcamp"></a>
            <a href="https://soundcloud.com/potvorno/2rjdm0zhqs4x" target="_blank" class="fab fa-soundcloud"></a>
            <a href="https://www.facebook.com/lahorsabianca" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank"
                class="fab fa-youtube"></a>
            <a href="https://www.instagram.com/toronto_tv/" target="_blank" class="fab fa-instagram"></a>

        </div>

        <div class="nav__hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="welcoming">
        <div class="welcoming__wrapper">
            <h1>Альбом Альбом</h1>
            <h2>Новий альбом від гурту Гурт</h2>

            <div class="welcoming__button">
                <a href="#" class="active">Уже доступно</a>
            </div>
        </div>
    </div>

</header>