<section class="content">
    <p class="title content__title">Наші новини</p>
    <div class="news-wrapper">
        <div class="arrow arrow-left"><i class="fas fa-arrow-left"></i></div>
        <div class="news">
            <div class="card">
                <span class="card__wrapper"><img class="card__wrapper-img" src="../images/news1.png" alt="img"></span>
                <div class="card__container">
                    <h2 class="card__container-title">Заснування гурту</h2>
                    <p class="card__container-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
                        blanditiis quibusdam, perspiciatis dolor earum labore! Tenetur eligendi libero pariatur,
                        perspiciatis laborum accusamus voluptatem magnam doloremque repellat dignissimos optio velit non
                        sunt sequi rerum! Distinctio doloribus amet ullam placeat mollitia consequatur deleniti cum, ea
                        corrupti, nisi nihil commodi molestias facilis perspiciatis.</p>
                    <a href="#" class="card__container-link">Більше</a>
                </div>
            </div>
            <div class="card">
                <span class="card__wrapper"><img class="card__wrapper-img" src="../images/news2.png" alt="img"></span>
                <div class="card__container">
                    <h2 class="card__container-title">Демо першого альбому</h2>
                    <p class="card__container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, non
                        quo, autem sint debitis recusandae ipsam ab eaque, accusantium eos distinctio adipisci! Dolores,
                        corrupti omnis blanditiis fuga voluptate consectetur facilis animi, iste nobis sequi libero
                        labore
                        repellat porro officia! Sunt, nisi. Similique laborum ab tenetur quaerat perspiciatis facere,
                        eaque
                        saepe!</p>
                    <a href="#" class="card__container-link">Більше</a>
                </div>
            </div>
            <div class="card">
                <span class="card__wrapper"><img class="card__wrapper-img" src="../images/news3.jpg" alt="img"></span>
                <div class="card__container">
                    <h2 class="card__container-title">Реліз першого альбому</h2>
                    <p class="card__container-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui,
                        laboriosam repellendus, dolore voluptates dolores error non odit nisi veritatis, excepturi nam
                        nemo
                        rerum. Explicabo consequuntur, sit assumenda repellendus expedita deserunt similique labore,
                        saepe
                        quod, ipsum numquam cumque! Amet dolores ut eaque adipisci? Quod qui, assumenda accusamus vero
                        obcaecati odio deleniti.</p>
                    <a href="#" class="card__container-link">Більше</a>
                </div>
            </div>
            <div class="card">
                <span class="card__wrapper"><img class="card__wrapper-img" src="../images/news4.png" alt="img"></span>
                <div class="card__container">
                    <h2 class="card__container-title">Перший концерт</h2>
                    <p class="card__container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                        corrupti
                        inventore delectus, dicta rerum praesentium aut. Odio esse numquam architecto expedita! Aliquid
                        voluptates, optio commodi ipsum repellat ullam tenetur reprehenderit ipsa dolor suscipit
                        laboriosam
                        mollitia similique, at consectetur eos. At repellendus dolorem similique eveniet iste eaque modi
                        cum
                        quaerat ad.</p>
                    <a href="#" class="card__container-link">Більше</a>
                </div>
            </div>
            <div class="card">
                <span class="card__wrapper"><img class="card__wrapper-img" src="../images/news5.jpg" alt="img"></span>
                <div class="card__container">
                    <h2 class="card__container-title">Анонс другого альбому</h2>
                    <p class="card__container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
                        officiis consequatur neque esse aperiam, molestias sunt adipisci dolores voluptate nemo aut
                        dicta
                        nobis, ad tempore molestiae minus, quidem ipsa veniam! Doloribus consequatur, consequuntur harum
                        nemo at quas laborum adipisci tenetur fugiat placeat mollitia beatae in, unde ratione! Sunt,
                        maxime
                        alias!</p>
                    <a href="#" class="card__container-link">Більше</a>
                </div>
            </div>
        </div>
        <div class="arrow arrow-right"><i class="fas fa-arrow-right"></i></div>
    </div>
</section>