@mixin set-link-none {
    text-decoration: none;
    color: white;
}

@mixin set-bg($path) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
}

@mixin hover-btn {
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        border-color: $main-color;
        color: $main-color;
    }
}

@mixin hover-social-btn($color) {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        color: $color;
    }
}
